####################################
# Node / npm
####################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

####################################
# Angular
####################################
dist/
.angular/
.cache/
tmp/
coverage/

####################################
# Environment
####################################
.env
.env.local
.env.*.local

####################################
# JetBrains Rider / IntelliJ
####################################
.idea/
*.sln.iml
*.iml
out/

####################################
# VSCode (si ouvert un jour)
####################################
.vscode/

####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# Logs
####################################
*.log
